<main>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light" [routerLinkActive]="'btn-warning'" [routerLink]="'/crud/create-product'">Create</button>
              <button type="button" class="btn btn-outline-light" [routerLinkActive]="'btn-warning'" [routerLink]="'/crud/product-list'">Products</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
</main>
