<div class="row pt-5">
  <div class="col-4">
    <div class="card">
<!--      <img src="assets/angular-13.png" class="card-img-top" alt="...">-->
      <div class="card-header">{{productDetails?.champ1}}</div>
      <div class="card-body">
        <h5 class="card-title">{{productDetails?.champ2}}</h5>
        <p class="card-text">{{productDetails?.id}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
