<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="productForm" (ngSubmit)="createProduct(productForm.value)">
      <div class="mb-3">
        <label for="product-name" class="form-label">Name</label>
        <input formControlName="champ1" type="text" class="form-control" id="product-name"
               [ngClass]="{
                'is-invalid': productForm.controls['champ1'].errors,
                'is-valid': !productForm.controls['champ1'].errors
               }">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="productForm.controls['champ1'].errors && productForm.controls['champ1'].touched">
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      </div>
      <div class="mb-3">
        <label for="product-desc" class="form-label">Description</label>
        <textarea formControlName="champ2" class="form-control" id="product-desc"></textarea>
      </div>
      <div class="mb-3">
        <label for="product-price" class="form-label">Price</label>
        <input formControlName="champ3" type="text" class="form-control" id="product-price">
      </div>
      <button type="submit" class="btn btn-primary">{{buttonText}}</button>
    </form>
  </div>
</div>
