/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

.ag-header-cell
{
  background: #009879;
  color: #ffffff;
  text-align: left;
}
